{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "options": {
        "semi": true
      }
    },
    {
      "files": "*.md",
      "options": {
        "semi": true
      }
    }
  ]
}
